@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');



* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fefae0;
    color: #fefae0;
    font-family: 'Inter', sans-serif;
}

.container {
    height: 550px;
    width: 550px;
    border-radius: 8px;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.top-half {
    height: 20rem;
    padding: 50px 100px;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(
        225deg,
        hsl(74deg 28% 48%) 0%,
        hsl(76deg 28% 44%) 22%,
        hsl(77deg 29% 39%) 33%,
        hsl(79deg 30% 35%) 42%,
        hsl(81deg 30% 31%) 50%,
        hsl(82deg 32% 27%) 58%,
        hsl(84deg 33% 23%) 67%,
        hsl(86deg 35% 19%) 78%,
        hsl(88deg 38% 15%) 100%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.bottom-half {
    background-color: #fff;
    color: black;
    /* height: 100%; */
    border-radius: 0 0 8px 8px;
    margin-bottom: 45px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: 300;
    padding: 10px 30px 30px 30px;

    
}
.input-wrapper {
    text-align: center;
}
#input {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 90px;
    padding-left: 140px; 
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    max-width: 450px;
}






/* 



.length-cal {
    display: flex;
    padding: 10px;
}

.metres {
    padding-right: 15px;
} */