@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');



* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.container {
    height: 550px;
    width: 550px;
    border-radius: 8px ;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.top-half {
    height: 20rem;
    padding: 50px 100px;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(281deg 100% 21%) 21%,
  hsl(305deg 100% 22%) 30%,
  hsl(320deg 100% 29%) 39%,
  hsl(330deg 100% 35%) 46%,
  hsl(337deg 100% 40%) 54%,
  hsl(345deg 87% 47%) 61%,
  hsl(4deg 87% 58%) 69%,
  hsl(18deg 96% 56%) 79%,
  hsl(31deg 100% 50%) 100%
);
}

.bottom-half {
    background-color: #fff;
    color: black;
    height: 100%;
    border-radius: 0 0 8px 8px;
    
    
}
.input-wrapper {
    text-align: center;
}
#input {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 90px;
    padding-left: 140px; 
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: ;
}






/* 



.length-cal {
    display: flex;
    padding: 10px;
}

.metres {
    padding-right: 15px;
} */